In [252]:
import pandas as pd

In [253]:
train=pd.read_csv('C:/Users/Nikhil/Desktop/train.csv')

In [254]:
test=pd.read_csv('C:/Users/Nikhil/Desktop/test.csv')

In [255]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [256]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [257]:
train1=train.drop(['PassengerId','Name','Ticket'],axis=1)

In [258]:
test1=test.drop(['PassengerId','Name','Ticket'],axis=1)

In [259]:
train1.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [260]:
train1.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [261]:
test1.isnull().sum()

Pclass        0
Sex           0
Age          86
SibSp         0
Parch         0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [262]:
train1=train1.drop(['Cabin'],axis=1)
test1=test1.drop(['Cabin'],axis=1)

In [263]:
train1.Age.fillna(value=0,inplace=True)
test1.Age.fillna(value=0,inplace=True)

In [264]:
cat_train=train1.drop(["Survived","Pclass","Age","SibSp","Parch","Fare"],axis=1)

In [265]:
cat_test=test1.drop(["Pclass","Age","SibSp","Parch","Fare"],axis=1)

In [266]:
cat_test=pd.get_dummies(cat_test)

In [267]:
cat_train=pd.get_dummies(cat_train)

In [268]:
train1=train1.drop(['Sex','Embarked'],axis=1)

In [269]:
test1=test1.drop(['Sex','Embarked'],axis=1)

In [270]:
train1=pd.concat([train1,cat_train],axis=1)

In [271]:
train1.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,0,3,35.0,0,0,8.0500,0,1,0,0,1

In [272]:
test1=pd.concat([test1,cat_test],axis=1)

In [273]:
test1.head()
test1.isnull().sum()
test1.Fare.fillna(value=0,inplace=True)

In [274]:
#train:
import numpy as np
x=train1.drop(['Survived'],axis=1)
y=train1['Survived']

In [275]:
from sklearn.model_selection import train_test_split,cross_val_score

In [276]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [277]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier,ExtraTreesClassifier,GradientBoostingClassifier,RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [278]:
lr=cross_val_score(LogisticRegression(),x_train,y_train)
adb=cross_val_score(AdaBoostClassifier(),x_train,y_train)
etc=cross_val_score(ExtraTreesClassifier(),x_train,y_train)
gb=cross_val_score(GradientBoostingClassifier(),x_train,y_train)
rf=cross_val_score(RandomForestClassifier(),x_train,y_train)
dt=cross_val_score(DecisionTreeClassifier(),x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

In [279]:
print('logiostic reg: ',lr,lr.mean())
print('etc:',etc,etc.mean())
print('adb:',adb,adb.mean())
print('gb : ',gb,gb.mean())
print('rf:',rf,rf.mean())
print('dt:',dt,dt.mean())

logiostic reg:  [0.81730769 0.75       0.75362319] 0.7736436269044965
etc: [0.8125    0.75      0.6763285] 0.7462761674718196
adb: [0.77884615 0.76442308 0.75845411] 0.767241112349808
gb :  [0.82692308 0.77884615 0.80676329] 0.8041775052644619
rf: [0.80769231 0.75961538 0.76328502] 0.7768642388207606
dt: [0.76923077 0.74519231 0.69082126] 0.7350814443205748

In [312]:
#gradient boost fix:
gb=GradientBoostingClassifier(max_depth=3)
gb

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [313]:
model=gb.fit(x_train,y_train)
pred_train=model.predict(x_train)
pred_test=model.predict(x_test)

In [314]:
from sklearn.metrics import accuracy_score,mean_squared_error,classification_report,confusion_matrix

In [315]:
#print("train r2score:",r2_score(y_pred=pred_train,y_true=y_train))
#print("test r2score:",r2_score(y_pred=pred_test,y_true=y_test))
print("train acc:",accuracy_score(y_pred=pred_train,y_true=y_train))
print("test acc:",accuracy_score(y_pred=pred_test,y_true=y_test))
print("train error:",mean_squared_error(y_pred=pred_train,y_true=y_train))
print("test error:",mean_squared_error(y_pred=pred_test,y_true=y_test))
print("train:",confusion_matrix(y_pred=pred_train,y_true=y_train))
print("test:",confusion_matrix(y_pred=pred_test,y_true=y_test))

train acc: 0.8924558587479936
test acc: 0.8432835820895522
train error: 0.10754414125200643
test error: 0.15671641791044777
train: [[357  18]
 [ 49 199]]
test: [[155  19]
 [ 23  71]]

In [316]:
print("train:")
print(classification_report(y_pred=pred_train,y_true=y_train))

train:
              precision    recall  f1-score   support

           0       0.88      0.95      0.91       375
           1       0.92      0.80      0.86       248

   micro avg       0.89      0.89      0.89       623
   macro avg       0.90      0.88      0.89       623
weighted avg       0.89      0.89      0.89       623

In [317]:
print("test:")
print(classification_report(y_pred=pred_test,y_true=y_test))

test:
              precision    recall  f1-score   support

           0       0.87      0.89      0.88       174
           1       0.79      0.76      0.77        94

   micro avg       0.84      0.84      0.84       268
   macro avg       0.83      0.82      0.83       268
weighted avg       0.84      0.84      0.84       268

In [318]:
#passing test data:
test_result=model.predict(test1)
test_result=pd.DataFrame(test_result)

In [319]:
t=test['PassengerId']
t=pd.DataFrame(t)
test_result=pd.concat([t,test_result],axis=1)
test_result=test_result.to_csv("C:/Users/Nikhil/Desktop/predicted.csv")